# Compiled class files
*.class

# Logs
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IDEs and Editors
/.classpath
/.project
/.settings/
/.idea/
/.vscode/
/*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Maven / Gradle / Ant
.mvn/
.gradle/
build/
target/
dist/
tmp/

# NetBeans specific
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code specific settings
.vscode/

# Temporary files
*.tmp
*.bak
*.swp
